/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*  Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.common_color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}

.primary_color {
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Navbar style */
nav {
    margin: 38px 240px 39px 240px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu,
ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a {
    color: #3C354F;
    text-decoration: none;
}

.follow_us {
    padding: 17px 24px 18px 24px;
    border-radius: 8px;
    background: #E7E6E9;
    color: #3C354F;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.follow_us p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.fa-youtube {
    color: red;
}


/* Banner style */


.banner_details {
    display: flex;
    justify-content: space-between;
}

.banner_contents {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    padding-left: 240px;
    display: flex;
    align-items: center;
}

.banner_image {
    margin-right: 240px;
}

.banner_info h2 {
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner_info h1 {
    font-size: 5.9375rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner_info p {
    color: #534C64;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 17px 0px;
}

.banner_info i {
    margin-right: 12px;
}

.banner_info .fa-play {
    border: 2px solid #0B0223;
    padding: 5px 5px 5px 7px;
    border-radius: 50%;
    margin-left: -5px;
}

.banner_info .fa-play,
.banner_info .fa-download {
    color: #FF42A5;
}

.banner_info button {
    margin: 40px 24px 0 0px;
    padding: 21px 40px;
    border-radius: 48px;
    color: #fff;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.banner_info button:last-child {
    margin-right: 0px;
}

.banner_info .btn_blue {
    background-color: #4EC5F7;
    border: 1px solid #4EC5F7;
    cursor: pointer;
}

.banner_info .btn_pink {
    border: 1px solid #FF42A5;
    cursor: pointer;
}

.banner_image {
    object-fit: contain;
}

/* Gamer section */

.gamer_section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.gamer {
    margin: 0px 240px;
    display: flex;
    justify-content: space-between;
    object-fit: contain;
}

.gamer_details {
    text-align: right;
}

.gamer_details h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 40px 0px 20px 0px;
}

.gamer_details p {
    color: #534C64;

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
 
}


.gamer_details p.purpose {
    color: #534C64;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
 
}

.gamer_details p.quoto {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}


.gamer_details button {
    padding: 21px 40px;
    border-radius: 48px;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #FF42A5;
}

/* Online gaming section */
.online_game {
    margin: 120px 240px;
}

.online_game h1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online_game p {
    margin: 16px 0px 48px 0px;
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.card {
    object-fit: cover;
}

.card p {
    margin: 0;
}

.card_image {
    position: relative;
    overflow: hidden;
}

.card_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}

.card_image:hover .card_overlay {
    opacity: 1;
}

.card_image .fa-circle-play {
    font-size: 1.5rem;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card_details {
    color: #534C64;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

/* Instant play section */
.instantPlay {
    margin: 120px 240px;
}

.instantPlayGame {
    display: flex;
    justify-content: space-between;
    gap: 20%;

}

.playImage {
    position: relative;
}
.playImage img{
    width: 100%;
}
.sideImg {
    position: absolute;
    bottom: -50px;
    left: -84px;
    width: 50%;
}

.play_details {
    display: flex;
    justify-content:center;
    align-items: center;
}

.play_details h1 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 341px;
    text-align: right;
}

.play_details p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 353px;
}

.categories {
    background-color: #FFF9FC;
}

.cat_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    object-fit: cover;
    padding: 120px 282px 249px 120px;

}

.category {
    display: flex;
    align-items: center;
    object-fit: cover;
    padding: 10px 20px 10px 10px;
    border: 1.5px solid #fff;
    border-radius: 50px;
    background-color: #fff;
}

.category img {
    width: 60px;
    height: 60px;
}

.category p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 10px;
}

.category:hover {
    border: 1.5px solid #FF42A5;
}

.category:hover p {
    color: #FF42A5;
}

/* footer */
.footerArea {
    background-color: #0B0223;

}

.footer_details {
    color: #fff;
    text-align: center;
    padding: 126px 0px 130px 0px;
    justify-content: center;
    align-items: center;
}

.footer_details .logo img {
    width: 86px;
    height: 48px;
}

.footer_details .logo h2 {
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tags,
.social_link,
.policies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags {
    gap: 60px;
    margin: 56px 0px;
}

.social_link {
    font-size: 24px;
    gap: 40px;
    margin: 56px 0px 64px 0px;
}

.social_link .fa-youtube {
    color: #fff;
    position: relative;
    z-index: 1;
}

.social_link .fa-youtube::after {
    position: absolute;
    height: 70%;
    width: 80%;
    position: center center;
    content: "";
    background-color: red;
    top: 4px;
    left: 3px;
    border-radius: 10px;
    z-index: -1;
}


.policies {
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.copyright {
    margin: 18px 0px;
    color: rgba(255, 255, 255, 0.60);
    text-align: c enter;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.copyright br {
    display: none;
}